{% extends 'base.html' %}
{% load static %}


{% block title %}
    home
{% endblock %}

{% block content %}
<section id="home-carousel">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images\freepik__retouch__87342.png' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images\DALLE.webp ' %}" class="d-block w-100" alt="...">
          </div>
          {% comment %} <div class="carousel-item">
            <img src="{% static 'images\' %}" class="d-block w-100" alt="...">
          </div>  
          <div class="carousel-item">
            <img src="{% static 'images\' %}" class="d-block w-100" alt="...">
  
          </div> {% endcomment %}
          
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
{% comment %} <h1>
  Welcome to Zencart You pne stop solution for all your Electronics
</h1> {% endcomment %}


{% endblock %}