{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{product.name}}

{% endblock %}
{% block content %}
  <section id="products">
    
    <div class="container1">
      
        <div class="col-6 leftcol">
          <div class="product-img">
            <img src="{{product.pic.url}}" alt="">
          </div>
          {% if not user.is_staff  %}
          <div class="purchase">
            <form action="{% url 'Cart:add_to_cart' product.id %}" method="post">
              {% csrf_token %}
              <button class="Cart" type="submit">Add to cart</button>
              
            </form>
            
            
          </div>
          {% endif %}
        </div>
        <div class="col-6 rightcol">
          <div>
            <h6>{{product.name}}</h6>
            <p>RS {{product.price}}<p>
          </div>
          
          <div class="prod-description">
            <p>{{product.description}}</p>
             
             {% if user.is_staff %}
              <a class=" btn btn-primary" href="{% url 'edit_Prod' product.pk %}">Edit product</a>
              <a class="btn btn-danger" href="{% url 'delprod' product.pk %}"">Delete Product</a>
            {% endif %}

          </div>

        </div>

        </div>
      

    </div>

  
  </section>
{% endblock %} 
