

{% extends 'base.html' %}
{% load static %}

{% block title %}
   
    My Orders
{% endblock %}

{% block content %}

 
<h1>Order #{{ order.id }} Details</h1>
<p>Order Date: {{ order.order_date }}</p>
<p>Status: {{ order.status }}</p>


<p>Total Amount: ₹{{ order.total_amount }}</p>



{% comment %} <h2>Products</h2> {% endcomment %}
<div id="order-details">
    {% for detail in order_details %}
        
         Quantity: {{ detail.quantity }} - Price: ₹{{ detail.price }}
    
    {% endfor %}
</div>

{% endblock %}